<div class="mx-4 flex items-center justify-between py-2 text-sm">
  <div class="flex w-2/3 gap-x-4">
    <mat-form-field
      *ngIf="contentTypes$ | async as contentTypes"
      subscriptSizing="dynamic"
    >
      <mat-label>Content Type</mat-label>
      <mat-select [formControl]="contentTypeControl">
        <mat-option>All</mat-option>
        <mat-option
          *ngFor="let contentType of contentTypes$ | async"
          [value]="contentType.sys.id"
        >
          {{ contentType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="contentTypeControl.value" subscriptSizing="dynamic">
      <mat-label>Search by title</mat-label>
      <input matInput type="search" [formControl]="searchByTitleControl" />
    </mat-form-field>
  </div>
  <mat-checkbox [formControl]="showDraftControl"
    >Show draft entries</mat-checkbox
  >
</div>
<div>
  <div *ngIf="(loading$ | async) || !entries; else entriesContainer">
    <div class="flex h-72 w-full items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-template #entriesContainer>
    <div *ngIf="entries!.length; else noEntries">
      <table
        class="mb-4 mt-2"
        mat-table
        matSort
        matSortActive="updatedAt"
        matSortDisableClear
        [matSortDirection]="sortDirection"
        [dataSource]="entries!"
        (matSortChange)="onSortChange($event)"
      >
        <!--Title column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.fields.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="viewDetails">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let entry">
            <button
              mat-icon-button
              aria-label="View"
              class="mr-2"
              color="primary"
              (click)="onViewEntryClick(entry)"
            >
              <mat-icon>wysiwyg</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Content type column -->
        <ng-container matColumnDef="contentType">
          <th mat-header-cell *matHeaderCellDef>Content Type</th>
          <td mat-cell *matCellDef="let entry">{{ entry.contentType.name }}</td>
        </ng-container>

        <!-- Updated at column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Updated At
          </th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.sys.updatedAt | date : "medium" }}
          </td>
        </ng-container>

        <!-- Edit button column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let entry">
            <button
              mat-raised-button
              color="primary"
              *ngIf="entry.contentType.sys.id === 'category'"
              (click)="onEditEntryClick(entry)"
            >
              Edit
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
      <mat-paginator
        (page)="onPaginatorChange($event)"
        [length]="totalEntriesLength"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>

    <ng-template #noEntries>
      <div class="m-4">No entries</div>
    </ng-template>
  </ng-template>
</div>
