<div class="relative flex h-full flex-col">
  <div
    *ngIf="showLoader"
    class="absolute inset-0 z-10 flex items-center justify-center bg-white bg-opacity-60"
  >
    <mat-spinner></mat-spinner>
  </div>

  <!-- Title -->
  <div mat-dialog-title class="!pr-[9px]">
    <div class="inline-flex w-full items-center justify-between">
      <h2 class="overflow-hidden">{{ title }}</h2>
      <button mat-icon-button mat-dialog-close color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <!-- Body -->
  <mat-dialog-content class="flex-grow-1 flex-shrink-1">
    <ng-content></ng-content>
  </mat-dialog-content>
  <!-- Footer -->
  <mat-dialog-actions class="!block !py-4 text-center">
    <ng-container *ngIf="!dialogFooter; else dialogFooterTemplate">
      <button mat-button mat-raised-button mat-dialog-close color="primary">
        Close
      </button>
    </ng-container>

    <ng-template #dialogFooterTemplate>
      <ng-container *ngTemplateOutlet="dialogFooter!"></ng-container>
    </ng-template>
  </mat-dialog-actions>
</div>
