<div class="flex h-full flex-col">
  <h2 mat-dialog-title>Content Type: {{ this.data.contentTypeName }}</h2>
  <mat-dialog-content class="flex-grow-1 flex-shrink-1 !pt-4">
    <mat-form-field subscriptSizing="dynamic" class="h-full w-full">
      <mat-label>JSON</mat-label>
      <textarea matInput class="!resize-none !text-sm" readonly rows="10">{{
        this.contentType | json
      }}</textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="!block !py-4 text-center">
    <button mat-button mat-raised-button mat-dialog-close color="primary">
      Close
    </button>
  </mat-dialog-actions>
</div>
